@import url("https://fonts.googleapis.com/css?family=Sacramento");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mplus 1p";
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding-top: 100px;
  -webkit-text-size-adjust: none;
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  section {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

header {
  background-color: #222;
}

.header_inner {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.header_logo {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-family: "Sacramento", cursive;
}

@media (max-width: 767px) {
  .header_logo {
    font-size: 1.3rem;
  }
}

.header_nav {
  margin-left: auto;
}

.header_list {
  display: flex;
  align-items: center;
}

.header_item {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .header_item {
    margin-left: 5px;
  }
}

.header_link {
  text-decoration: none;
  padding: 30px 10px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  font-family: "Mplus 1p";
}

@media (max-width: 767px) {
  .header_link {
    font-size: 0.8rem;
    padding: 20px 5px;
  }
}

.logout_button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {
  .logout_button {
    font-size: 0.8rem;
  }
}

.logout_button:hover {
  transition: all .2s ease-in-out;
  color: #e81919;
}

.logout_button:focus {
  outline: none;
}

.top {
  width: 100%;
  padding-top: 42.96875%;
  background: url(/asset/images/top.jpg) no-repeat center center/cover;
  position: relative;
}

.top_inner {
  width: 100%;
  position: absolute;
  top: 13%;
  left: 0;
}

.top_box {
  width: 100%;
  text-align: center;
}

.top_title {
  font-family: "Sacramento", cursive;
  color: #fff;
  opacity: 0.8;
  font-size: 9rem;
  letter-spacing: 0.1em;
}

@media (max-width: 1247px) {
  .top_title {
    font-size: 5.0rem;
  }
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

@media (max-width: 1247px) {
  .control {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .control {
    margin-top: 0px;
  }
}

.control_genre {
  width: 300px;
}

@media (max-width: 1247px) {
  .control_genre {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .control_genre {
    width: 120px;
  }
}

.control_picky {
  width: 300px;
  margin-left: 1px;
}

@media (max-width: 1247px) {
  .control_picky {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .control_picky {
    width: 120px;
  }
}

.control_input {
  display: none;
}

.control_label {
  padding: 20px;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  text-align: center;
  border: #fff solid 3px;
}

@media (max-width: 1247px) {
  .control_label {
    font-size: 1.1rem;
    padding: 10px;
    border: #fff solid 2px;
  }
}

@media (max-width: 767px) {
  .control_label {
    font-size: 0.8rem;
    padding: 8px;
    border: #fff solid 2px;
  }
}

.control_label:hover {
  opacity: 0.7;
}

.arrow {
  margin-left: 50px;
}

.genre_radios {
  visibility: hidden;
  transition: 0.5s;
}

.control_input:checked + .control_label + .genre_radios {
  visibility: visible;
}

.genre_radio {
  border: #fff 1px solid;
}

.genre_input {
  display: none;
}

.genre_label {
  display: block;
  cursor: pointer;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.1em;
}

@media (max-width: 1247px) {
  .genre_label {
    font-size: 0.8rem;
    padding: 8px;
  }
}

@media (max-width: 767px) {
  .genre_label {
    font-size: 0.5rem;
    padding: 6px;
  }
}

.genre_label:hover {
  opacity: 0.7;
  background: rgba(232, 25, 25, 0.8);
}

.genre_input:checked + .genre_label {
  background: rgba(232, 25, 25, 0.8);
  color: #fff;
  font-weight: bold;
}

.control_input:checked + .control_label + .genre_checkboxes {
  visibility: visible;
}

.picky_checkboxes {
  visibility: hidden;
  transition: 0.5s;
}

.control_input:checked + .control_label + .picky_checkboxes {
  visibility: visible;
}

.picky_checkbox {
  border: #fff 1px solid;
}

.picky_input {
  display: none;
}

.picky_label {
  display: block;
  cursor: pointer;
  padding: 12px;
  color: #fff;
  letter-spacing: 0.1em;
}

@media (max-width: 1247px) {
  .picky_label {
    font-size: 0.8rem;
    padding: 8px;
  }
}

@media (max-width: 767px) {
  .picky_label {
    font-size: 0.5rem;
    padding: 6px;
  }
}

.picky_label:hover {
  opacity: 0.7;
  transition: 0.3s;
  background-color: rgba(0, 130, 217, 0.8);
}

.picky_input:checked + .picky_label {
  background-color: rgba(0, 130, 217, 0.8);
  color: #fff;
  font-weight: bold;
}

.control_search {
  margin-left: 0.5px;
}

.search_button {
  display: block;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  border: #fff 3px solid;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 17px;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
  letter-spacing: 0.2em;
}

@media (max-width: 1247px) {
  .search_button {
    font-size: 1.0rem;
    padding: 6.5px 8px;
    margin-left: 0.5px;
    border: #fff 2px solid;
  }
}

@media (max-width: 767px) {
  .search_button {
    font-size: 0.8rem;
    padding: 4.6px 8px;
  }
}

.search_button:focus {
  outline: none;
}

.search_button:hover {
  opacity: 0.8;
  transition: 0.3s;
  background: #fff;
  color: #222;
  font-weight: bold;
}

.shops {
  background: rgba(0, 0, 0, 0.96);
}

.section_title {
  font-family: "Mplus 1p";
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

@media (max-width: 1247px) {
  .section_title {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .section_title {
    font-size: 2.0rem;
  }
}

.shops_items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .shops_items {
    margin-top: 30px;
    display: block;
  }
}

.shops_item {
  background-color: #fff;
  height: 100%;
  min-height: 315px;
  border-radius: 3px;
  box-shadow: 0 0 2px gray;
}

@media (min-width: 1200px) {
  .shops_item {
    margin: 0 50px 50px 0;
    width: calc(33.3333333% - 100px / 3);
  }
  .shops_item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 1247px) {
  .shops_item {
    width: calc(50% - 50px / 2);
    margin: 0 50px 50px 0;
  }
  .shops_item:nth-child(3n) {
    margin-right: 50px;
  }
  .shops_item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .shops_item {
    width: 100%;
  }
}

.shops_item_head img {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.shops_item_head img:hover {
  opacity: .8;
}

@media (max-width: 1247px) {
  .shops_item_head img {
    height: 250px;
  }
}

.shops_item_body {
  text-align: left;
}

.shop_name {
  padding: 10px;
}

.shop_top_name {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

@media (max-width: 1247px) {
  .shop_top_name {
    font-size: 1.2rem;
  }
}

.shop_comment {
  margin-left: auto;
  padding: 0.5rem;
  color: #333;
  font-size: 1.1rem;
}

.shop_comment p {
  font-weight: bold;
  line-height: 1.6;
  border: 1px solid #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background: #e81919;
  color: #fff;
  display: inline-block;
}

.shop_item_bottom {
  display: flex;
}

.shop_like {
  padding: 0.5rem;
}

.like {
  font-size: 1.2rem;
}

.like_red {
  color: #e81919;
}

.like_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.like_btn:focus {
  outline: none;
}

.count_likes {
  display: inline-block;
}

.shop_detail_inner {
  background: #222;
  padding: 30px;
  box-shadow: 0 0 5px gray;
  border-radius: 2px;
}

.shop_detail_image {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .shop_detail_image {
    max-width: 300px;
    min-height: 300px;
  }
}

.shop_detail_box {
  width: 80%;
  padding-top: 30px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .shop_detail_box {
    width: 100%;
  }
}

.shop_block {
  display: flex;
  align-items: center;
  margin: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.shop_goggle_address {
  width: 80%;
  height: 350px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .shop_goggle_address {
    height: 200px;
  }
}

.shop_detail_title {
  color: #fff;
  width: 20%;
  font-size: 1.1rem;
  font-family: "Mplus 1p";
}

@media (max-width: 767px) {
  .shop_detail_title {
    font-size: 0.7rem;
    width: 30%;
  }
}

.shop_detail_content {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.shop_detail_content p {
  font-weight: bold;
}

@media (max-width: 767px) {
  .shop_detail_content {
    font-size: 0.9rem;
    width: 80%;
  }
}

.tell {
  text-decoration: none;
  color: #fff;
}

.url {
  text-decoration: none;
  color: #fff;
}

.url:hover {
  opacity: .7;
  transition: .3s;
}

.situation_name {
  display: inline-block;
  font-size: 1.1rem;
  background-color: rgba(0, 130, 217, 0.7);
  margin-left: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
}

.situation_name:first-child {
  margin-left: 0px;
}

@media (max-width: 767px) {
  .situation_name {
    font-size: 0.6rem;
    margin-left: 0px;
    padding: 0.3rem 0.4rem;
  }
}

.genre_name {
  display: inline-block;
  font-size: 1.1rem;
  background: rgba(232, 25, 25, 0.7);
  padding: 0.5rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .genre_name {
    font-size: 0.6rem;
    margin-left: 0px;
    padding: 0.3rem 0.4rem;
  }
}

.shop_show_name {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.shop_show_name:hover {
  opacity: .8;
  transition: .3s;
}

@media (max-width: 767px) {
  .shop_show_name {
    font-size: 1.2rem;
  }
}

.shop_detail_title_second {
  margin-top: 8px;
}

.count_shop {
  color: #3f51b5;
  font-weight: bold;
}

.user_icon:hover {
  color: #3f51b5;
  opacity: .7;
  transition: all .2s ease-in-out;
}

.user_box_top {
  text-align: right;
}

.profile_edit_button {
  text-align: right;
  text-decoration: none;
  padding: 0.3em 0.5em;
  background: #3f51b5;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .profile_edit_button {
    font-size: 0.8rem;
  }
}

.profile_edit_button:hover {
  background: #fff;
  color: #3f51b5;
}

.form {
  padding-top: 50px;
  padding-bottom: 50px;
}

textarea ::-webkit-input-placeholder,
input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea ::-moz-placeholder,
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea :-ms-input-placeholder,
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea:focus,
input:focus {
  outline: 0 transparent solid;
}

textarea:focus ::-webkit-input-placeholder,
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

textarea:focus ::-moz-placeholder,
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

textarea:focus :-ms-input-placeholder,
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

textarea {
  resize: vertical;
  height: 120px;
  width: calc(100% - 3rem);
}

@media (max-width: 767px) {
  textarea {
    height: 80px;
  }
}

.form_box {
  background: #222;
  box-shadow: 0 0 5px gray;
  border-radius: 2px;
  margin: auto;
  max-width: 60%;
  padding: 20px;
}

@media (max-width: 1247px) {
  .form_box {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .form_box {
    max-width: 90%;
  }
}

.form_top {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

.form_top .fa-stack-1x {
  color: black;
}

.form_input {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 30px;
  padding: 0.5rem;
  transition: 0.3s;
  width: calc(100% - 3rem);
}

.form_input:focus {
  background: white;
  color: black;
  transition: 0.3s;
}

.form_submit {
  border: 1px solid white;
  cursor: pointer;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: 5px 15px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 0.9rem;
}

.form_submit:hover, .form_submit:focus {
  background: white;
  color: black;
  transition: 0.3s;
  outline: none;
}

.form_bottom {
  margin-top: 10px;
  text-align: center;
}

.login_forgot_pass {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  opacity: 0.7;
  padding: 10px;
  text-align: center;
}

.login_forgot_pass:hover {
  opacity: 1;
}

.logged_in {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.logged_in:hover {
  opacity: 0.7;
}

.shop_image {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .shop_image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}

.input_shop_image {
  display: none;
}

.shop_image_form {
  margin: 30px;
}

.form_input_tell {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 30px;
  padding: 0.5rem;
  transition: 0.3s;
  width: calc(100% - 3rem);
}

.form_input_tell:focus {
  background: white;
  color: black;
  transition: 0.3s;
}

.form_textarea {
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 15px 30px 30px 30px;
  padding: 0.5rem;
  transition: 0.3s;
}

.form_textarea:focus {
  background: white;
  color: black;
  transition: 0.3s;
}

.label_comment {
  display: inline-block;
  margin: 10px 30px 10px 30px;
  font-size: 0.75rem;
  padding: 0.4rem;
  font-weight: bold;
  color: #fff;
  opacity: 0.7;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.email_comment {
  text-align: center;
  padding: 40px 0px  20px 0px;
  color: #fff;
}

.email_comment p {
  text-align: center;
  font-size: 0.9rem;
}

.select {
  opacity: 0.7;
  outline: none;
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 29px;
  padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  transition: 0.3s;
  width: 20%;
}

@media (max-width: 1247px) {
  .select {
    width: 50%;
  }
}

.create_picky_label {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
}

@media (max-width: 1247px) {
  .create_picky_label {
    padding: 5px 30px;
  }
}

.create_picky_label::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.create_picky_label::after {
  border-right: 3px solid #e81919;
  border-bottom: 3px solid #e81919;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

.create_picky_input {
  margin-bottom: 30px;
  display: none;
}

.create_picky_input:checked + .create_picky_label::after {
  opacity: 1;
}

.create_checkbox_group {
  margin-left: 30px;
}

@media (max-width: 1247px) {
  .create_checkbox_group {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .create_checkbox_group {
    margin-left: 20px;
  }
}

.show_top {
  text-align: right;
}

.edit_button {
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  background: #3f51b5;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.edit_button:hover {
  background: #fff;
  color: #3f51b5;
}

.edit_button:focus {
  outline: none;
}

.delete {
  text-align: right;
}

.delete_button {
  background: #e81919;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.delete_button:hover {
  background: #fff;
  color: #e81919;
  transition: all .2s ease-in-out;
}

.delete_button:focus {
  outline: none;
}

.picker {
  cursor: pointer;
}

.avatar_circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .avatar_circle {
    width: 100px;
    height: 100px;
  }
}

.errors_inner {
  background: rgba(232, 25, 25, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.errors {
  text-align: left;
}

.error_msg {
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
}

.user_inner {
  background: #222;
  padding: 50px;
  box-shadow: 0 0 5px gray;
  border-radius: 2px;
}

.my-white {
  color: #fff;
}

.user_box {
  text-align: center;
  padding-bottom: 80px;
}

.user_image {
  display: inline-block;
  margin-top: 30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .user_image {
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
}

.user_name {
  padding: 30px;
}

.user_name p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

footer {
  background-color: #222;
}

.footer_inner {
  text-align: center;
}

.footer_logo {
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  padding: 30px;
  color: #fff;
  font-family: "Sacramento", cursive;
}

.footer_copyright {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #dee2e6;
  cursor: pointer;
  outline: none;
}

.page-link:hover {
  z-index: 2;
  color: #3f51b5;
  text-decoration: none;
  background-color: #e9ecef;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
}
